:root {
    --first_color: #7db81e;
    --second_color: #93ca31;
    --accent_color: #4f8112;
}

.bg-first {
    background-color: var(--first_color);
}

.bg-second {
    background-color: var(--second_color);
}

.bg-accent {
    background-color: var(--accent_color);
}

.bg-handshake {
    background-image: url('/media/stretta_di_mano.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

.bg-footer{
    background-color: #1a1a1a;
}

.bg-copyright {
    background-color: black;
}

/*FOOTER*/

footer {
    background-color: var(--accent_color);
}

/*Icone social*/

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    background-color: var(--first_color);
    color: aliceblue;
    border-radius: 100%;
    font-size: 24px;
    margin-right: 24px;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: var(--second-color) !important;
    color: var(--accent_color) !important;
}

// preview img 

.thumbsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
}

.thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;
}

.thumbInner {
    display: flex;
    min-width: 0px;
    overflow: hidden;
}

.preview-img {
    display: block;
    width: auto;
    height: 100%;
}

/*Category*/
.card-category {
    position: relative;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.card-category:hover {
    box-shadow: 0 0 10px 0px rgba(0,0,0,.12);
}